@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");

body {
  --cf-blue: #4d87c7;
  --cf-yellow: yellow;
  --cf-red: red;
  --cf-green: green;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
}

a {
  color: var(--cf-blue);
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  border: 1px solid var(--cf-blue);
  color: var(--cf-blue);
  border-radius: 0.25em;
  background: white;
  padding: 0.25em 0.5em;
  font-size: 14px;
}
button:hover {
  background-color: var(--cf-yellow);
}

.grow {
  flex-grow: 1;
}
.gap {
  width: 1em;
  height: 1em;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.center {
  align-items: center;
}

.mono {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

pre {
  font-family: "Roboto Mono", monospace;
  background-color: rgba(0, 0, 0, 0.125);
  box-sizing: border-box;
  padding: 1em;
  margin: 0;
}

.CodeMirror {
  height: 100% !important;
  font-family: "Roboto Mono", monospace !important;
  font-size: 14px !important;
}

select {
  border: none;
  outline: none;
}

.busy {
  background: linear-gradient(90deg, var(--cf-blue) 50%, white 50%),
    linear-gradient(90deg, var(--cf-blue) 50%, white 50%), linear-gradient(0deg, var(--cf-blue) 50%, white 50%),
    linear-gradient(0deg, var(--cf-blue) 50%, white 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 14px 2px, 14px 2px, 2px 14px, 2px 14px;
  background-position: 0px 0px, 100% 100%, 0px 100%, 100% 0px;
  animation: busy-dance 60s infinite linear;
}
@keyframes busy-dance {
  0% {
    background-position: 100% 0, 0 100%, 0 0, 100% 100%;
  }
  100% {
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
  }
}

pre.correct {
  color: var(--cf-green);
}
pre.incorrect,
pre.stderr {
  color: var(--cf-red);
}
