@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");

body {
  --cf-blue: #4d87c7;
  --cf-yellow: yellow;
  --cf-red: red;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
}

a {
  color: var(--cf-blue);
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  border: 1px solid var(--cf-blue);
  color: var(--cf-blue);
  border-radius: 0.25em;
  background: white;
  padding: 0.25em 0.5em;
  font-size: 14px;
}
button:hover {
  background-color: var(--cf-yellow);
}

.grow {
  flex-grow: 1;
}
.gap {
  width: 1em;
  height: 1em;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.center {
  align-items: center;
}

.mono {
  font-family: "Roboto Mono", monospace;
}

.CodeMirror {
  height: 100% !important;
  font-family: "Roboto Mono", monospace !important;
  font-size: 14px !important;
}

select {
  border: none;
  outline: none;
}
